{% extends 'registration/base_registration.html' %}
{% load crispy_forms_filters %}
{% block content-registration %}

<h1>Enter your email to reset a password</h1>

<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control">
        <button type="submit" class="button is-block is-primary is-fullwidth is-medium">Login</button>
    </div>
</form>
<br />
<div class="">
    <a class="" href="{% url 'signup' %}">Don't have an account?</a>
</div>

{% endblock content-registration %}