{% extends 'dashboard/base_dashboard.html' %}
{% load crispy_forms_filters %}
{% load my_tags %}

{% block content-dashboard %}

<section class="info-tiles">
  <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
          <article class="tile is-child box">
              <p class="title">439k</p>
              <p class="subtitle">Users</p>
          </article>
      </div>
      <div class="tile is-parent">
          <article class="tile is-child box">
              <p class="title">59k</p>
              <p class="subtitle">Products</p>
          </article>
      </div>
      <div class="tile is-parent">
          <article class="tile is-child box">
              <p class="title">3.4k</p>
              <p class="subtitle">Open Orders</p>
          </article>
      </div>
      <div class="tile is-parent">
          <article class="tile is-child box">
              <p class="title">19</p>
              <p class="subtitle">Exceptions</p>
          </article>
      </div>
  </div>
</section>

<hr />


<div class="columns">

  <div class="column is-9">

    <div class="columns has-background-light">

      <div class="column is-4">
        <a href="{% url 'leads:lead-create' %}">
          <span class="button is-block is-success is-small">Add New Lead <i class="fa-solid fa-circle-plus fa-fw"></i></span>
        </a>

        <a href="#">
          <span class="button is-block is-danger is-small">Do Something Else <i class="fa-solid fa-circle-plus fa-fw"></i></span>
        </a>
        
      </div>
      
      <div class="column is-4">
      </div>
      
      <div class="column is-4 pt-4">
        <a href="{% url 'leads:lead-create' %}">
          <span class="button is-block is-outlined is-medium">Sort</i></span>
        </a>
      </div>
    
    </div>
    
    
    <table class="table is-bordered is-striped is-fullwidth">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Update</th>
          <th><abbr title="Proceed with Caution">Delete</abbr></th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        {% for lead in leads %}
          <tr>
            <th>{{ lead.id }}</th>
            <td>
              <a href="{% url 'leads:lead-detail' lead.id %}" title="Details">{{ lead.first_name }}  {{ lead.last_name }}</a>
            </td>
            <td>
              <span class="tag is-primary"><i class="fa-solid fa-pen"></i></span>
            </td>
            <td>
              <span class="tag is-danger"><i class="fa-solid fa-trash"></i></span>
            </td>
            <td>
              {{ lead.email }}
            </td>
            <td>
              {{ lead.phone }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    
    </table>
    
    
    {% if is_paginated %}
    <nav class="pagination" role="navigation" aria-label="pagination">
    
      {% if page_obj.previous_page_number != 0 %}
        <a class="pagination-previous" href="?{% param_replace page=page_obj.previous_page_number %}">Previous</a>
      {% else %}
        <a class="pagination-previous is-disabled">Previous</a>
      {% endif %}
    
      {% if page_obj.next_page_number <= paginator.num_pages %}
        <a class="pagination-next" href="?{% param_replace page=page_obj.next_page_number %}">Next</a>
      {% else %}
        <a class="pagination-next is-disabled">Next</a>
      {% endif %}
    
      
      <ul class="pagination-list">
    
        {% if page_obj.has_previous %}
          <li>
            <a class="pagination-link" href="?{% param_replace page=1 %}">First</a>
          </li>
        {% endif %}
    
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
        
        {% if page_obj.has_previous %}
          {% if page_obj.previous_page_number != 0 %}
            <li>
              <a class="pagination-link" href="?{% param_replace page=page_obj.previous_page_number %}">
                {{ page_obj.previous_page_number }}
              </a>
            </li>
          {% endif %}
        {% endif %}
    
        {% comment %} CURRENT {% endcomment %}
        <li>
          <a class="pagination-link is-current has-background-primary" aria-current="page">
            {{ page_obj.number}}
          </a>
        </li>
        {% comment %} CURRENT {% endcomment %}
        
        {% if page_obj.has_next %}
          {% if page_obj.next_page_number <= paginator.num_pages %}
            <li>
              <a class="pagination-link" href="?{% param_replace page=page_obj.next_page_number %}">
                {{ page_obj.next_page_number }}
              </a>
            </li>
          {% endif %}
        {% endif %}
          
        <li>
          <span class="pagination-ellipsis">&hellip;</span>
        </li>
    
        {% if page_obj.has_next %}
          <li>
            <a class="pagination-link" href="?{% param_replace page=paginator.num_pages %}">Last</a>
          </li>
        {% endif %}
    
      </ul>
    
    
    </nav>
    {% endif %}
  
  </div>

  <div class="column is-3 pt-4 has-background-light">
    <div class="control">
      <a class="button is-block is-warning is-fullwidth is-medium" href="{% url 'leads:lead-list' %}">Reset</a>
    </div>
    
    <form class="mt-4" method="get">
      {{ filter.form|crispy }}
      <div class="control">
        <button type="submit" class="button is-block is-primary is-fullwidth is-medium">Filter</button>
      </div>
    </form>

  </div>

</div>




<hr />

{% comment %} <style>
  table tbody:nth-child(even) {
    background-color: #F5F5F5;
  }
</style> {% endcomment %}

{% endblock content-dashboard %}
