{% extends 'dashboard/base_dashboard.html' %}
{% load crispy_forms_filters %}

{% block content-dashboard %}

    

<h1>Create a new lead</h1>

<form method="POST" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <div class="control">
    <button type="submit" class="button is-block is-primary is-fullwidth is-medium">Submit</button>
  </div>
</form>

<div class="control">
  <button class="button is-block is-light is-fullwidth is-medium">
    <a href="{% url 'agents:agent-list' %}">Cancel</a>
  </button>
</div>


{% endblock content-dashboard %}

