{% extends 'dashboard/base_dashboard.html' %}
{% load crispy_forms_filters %}

{% block content-dashboard %}

    

<h1>Create a new lead</h1>

<form method="POST" action=".">
  {% csrf_token %}
  {{ form|crispy }}

  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">
        <a href="{{request.META.HTTP_REFERER|escape}}">Cancel</a>
      </button>
    </div>
  </div>
</form>



{% endblock content-dashboard %}

