{% extends 'base.html' %}
{% block body %}
<hr>
<section class="container">
  <div class="columns">
    <div class="column is-2">
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a>Dashboard</a></li>
          <li><a href="{% url 'leads:lead-list' %}">Leads</a></li>
          {% if request.user.is_owner %}
            <li><a href="{% url 'agents:agent-list' %}">Agents</a></li>
          {% endif %}
        </ul>
        
        <p class="menu-label">
          Profile
        </p>

        <ul class="menu-list">
          <li>
            <a class="is-active has-background-info">Settings</a>
            <ul>
              <li><a class="button is-light" href="{% url 'logout' %}">
                Log out
              </a></li>
            </ul>
        </li>
        </ul>

        <p class="menu-label">
          Administration
        </p>
        <ul class="menu-list">
          <li><a>Team Settings</a></li>
          <li>
            <a class="is-active has-background-info">Manage Your Team</a>
            <ul>
              <li><a>Members</a></li>
              <li><a>Plugins</a></li>
              <li><a>Add a member</a></li>
            </ul>
          </li>
          <li><a>Invitations</a></li>
          <li><a>Cloud Storage Environment Settings</a></li>
          <li><a>Authentication</a></li>
        </ul>
        <p class="menu-label">
          Transactions
        </p>
        <ul class="menu-list">
          <li><a>Payments</a></li>
          <li><a>Transfers</a></li>
          <li><a>Balance</a></li>
        </ul>
      </aside>
    </div>
    <div class="column is-10">
      <div class="box content">

        {% block content-dashboard %}
        {% endblock content-dashboard %}

      </div>
    </div>
  </div>
</section>
{% endblock body %}

